<div class="card">
    <h1 class="card-title" >LOGIN</h1>
    <form class="form-container">

      <div class="form-field">
        <label>Código:</label>
        <input type="text" id="nome" name="nome" #id>
      </div>

      <div class="form-field">
        <label>Senha:</label>
        <input type="text" id="email" name="email" #email>
      </div>

      <div>
        <button  type="submit" (click)="getCorrentista(id.value)">Entrar</button>
      </div>
      <br>

    </form>
    <div class="register">
    <p>Não tem conta? </p> <a id="link" routerLink="/cadastro">Cadastre-se</a>
    </div>
  </div>

